@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400,500,600,700&display=swap');

*{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
  }
.info-slider{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: small;
    background-color: #7D17FF;
    height: 30px;
    padding: 2px;
}
.info-slider p{
    scrollbar-width: 20%;
    scroll-behavior: smooth;
    color: #1E1E1E;
    font-family: "Bebas Neue";
    font-size: 15px;
    font-style: normal;
    font-weight: lighter;
    text-transform: capitalize;
}
nav{
    width:100%;
    height: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: nowrap;
    background: #F8DA3D;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
}
.nav-row-between{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
}
.hero-row-gallery i{
    transform: rotate(0deg);
}
.hero-row-gallery i:hover{
    transform:scale(1) rotate(10deg);
    transition: 200ms ease-in-out;
}
.nav-row{
    font-family:"Helvetica",sans-serif;
    background: #F8DA3D;
    text-transform: capitalize;
    border: 2px solid #000;
    padding: 30px 30px 30px 30px;
    box-shadow: inset  0 0 0 0 #F8DA3D;
}
.nav-row:hover,
.nav-row:hover p {
  box-shadow: inset 310px 0 0 0 #1e1e1e;
  transition: 500ms ease-in-out;
  color: white;
}
.nav-row p{
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

/* her0 */
.hero{
    height: 100%;
    background: #F8DA3D;
    text-transform: capitalize;
    padding: 50px;
    font-family: "Inter", sans-serif;
}
.hero-row-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-row-gallery h1{
    font-size: 256px;
    color: #000;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}
.hero-row h1{
    font-weight: 200;
}
.cirle{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 300px;
    border: 2px solid #000;
    display: grid;
    align-content: center;
    justify-items: center;
    transform: scale(1);
}
.cirle:hover{
    transform: scale(1.5);
    transform: rotate(-90deg);
    transition: 600ms ease-in-out;
}
.hero-rowpar{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
}
.hero-rowpar h1{
    font-size: 87px;
}
/* container */

.container{
    height: 100%;
    padding: 5rem;
    background: #F8DA3D;
    justify-content: space-between;
}
.container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
































/* keyframers */
/* @keyframes slideColor {
    0% {
      background-color: initial;
      background-position: -100%;
    }
    100% {
      background-color: yellow;
      background-position: 100%;
    }
  }
  
  .hero-row-gallery:hover {
    animation: slideColor 1s linear forwards;
  } */
  